<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>todo list</title>

  <link rel="stylesheet" href="css/styles.css"> <!-- mappen public er definert som en static mappe i app.js og trenger ikke å oppgis is pathen her-->
</head>
<body>
