<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>todo list</title>

  <link rel="stylesheet" href="css/styles.css"> <!-- mappen public er definert som en static mappe i app.js og trenger ikke å oppgis is pathen her-->
</head>

<body>
  <div class="box" id="heading">
    <h1><%= kindOfDay %>. ToDo list:</h1>
  </div>

  <div class="box">
    <% for (let i=0; i<newListItems.length; i++){ %>
    <div class="item">
      <input type="checkbox">
      <p class="item"><%= newListItems[i] %></p>
    </div>
    <% }; %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Entry" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>
  </div>




</body>

</html>
